body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

.top-header {
    background-color: rgb(39, 19, 68);
    padding: .8em 1em;
    color: white;
    font-size: 1.24rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top-header span i {
    color: rgb(255, 192, 0);
    font-size: 1.16rem;
    margin-right: .6em;
}

.top-header span:nth-child(2),
.top-header span:nth-child(3) {
    display: none;
}

.top-header span:nth-child(4) {
    margin-right: .2em;
}

.top-header span:nth-child(4) .fa-search {
    position: relative;
    background-color: rgb(255, 72, 128);
    margin: 0;
    padding: .55em;
    border-radius: 50%;
    font-size: .9rem;
    color: white;
}

.top-header span:nth-child(4) .fa-search:after {
    content: '';
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: solid 1px rgb(255, 72, 128);
    transform: scale(1.18);
}

.bottom-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-header-conatiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: .90em 0;
    border-bottom: solid 1px rgb(235, 235, 235);
    position: relative;
}

.bottom-header-conatiner img {
    width: 135px;
    margin-left: 1.4em;
}

.bottom-header-conatiner i {
    color: gray;
    margin-left: auto;
}

.bottom-header .nav-menu {
    border: solid 1px black;
    border-radius: .14em;
    height: 30px;
    width: 38px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 1.3em;
}

.bottom-header .nav-menu .menu-bar {
    background-color: black;
    width: 22px;
    height: 2px;
}

.bottom-header .nav-menu .menu-bar:first-child {
    margin-top: .2em;
}

.bottom-header .nav-menu .menu-bar:last-child {
    margin-bottom: .3em;
}

.bottom-header .menu-content {
    align-self: flex-start;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 172px;
    background-color: white;
}

.bottom-header .menu-content ul {
    padding: .2em 1.3em;
    list-style: none;
    line-height: 2.8;
    font-weight: 500;
}

.bottom-header .menu-content ul li:first-child {
    color: rgb(255, 72, 128);
}

.bee {
    margin-top: 1.4em;
}


/*=================================================================
INTRO SITE
=================================================================*/

.intro-site {
    height: 100vh;
    background: url(img/a-child-playing-with-a-wooden-plane-Stock-Photo-05.webp) no-repeat left/cover;
    display: flex;
    flex-direction: column;
    padding: 0 1.3em;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.intro-site img {
    max-width: 250px;
}

.intro-site img:first-child {
    width: 100px;
}

.title {
    color: rgb(255, 72, 128);
    font-weight: 400;
    padding: 0 3em;
}

.subtitle {
    color: rgb(39, 19, 68);
    font-size: 2.5rem;
    padding: 0 .5em;
    line-height: 1.2;
}

.intro-site .intro-title {
    margin-top: .4em;
    padding: 0;
}

.intro-site .intro-subtitle {
    color: rgb(39, 19, 68);
    font-style: italic;
    margin: .6em 0 1.5em;
    font-size: 1.5rem;
    font-weight: 500;
}

.button {
    background-color: rgb(255, 72, 128);
    text-decoration: none;
    color: white;
    width: 200px;
    text-align: center;
    font-size: 1rem;
    border-radius: .7em;
    padding: .8em 0;
    text-transform: capitalize;
    display: block;
}

.button i {
    background-color: white;
    color: rgb(255, 72, 128);
    padding: .3em;
    border-radius: 50%;
    font-size: .88rem;
    margin-left: 1em;
}

.intro-site img,
.intro-site .intro-title,
.intro-site .intro-subtitle,
.intro-site a {
    z-index: 1;
}

.intro-site:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(255, 255, 255) 32%, transparent);
}

.intro-site:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 5%;
    bottom: 10px;
    left: 0;
    background: linear-gradient(0deg, rgba(177, 177, 177, 0.493) 0%, transparent 100%);
}

.intro-site .wave {
    position: absolute;
    width: 100%;
    min-width: 320px;
    left: 0;
    bottom: 0;
}


/*======================================================
CHOSE US
======================================================*/

.choseUs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.choseUs span {
    padding: 0 2em;
    color: rgb(148, 147, 147);
}

.choseUs-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
    margin-top: 1.7em;
}

.choseUs-cards .card {
    padding: 3em 1em .8em;
    margin-top: 1.8em;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.choseUs-cards .card h3 {
    font-size: 1.5rem;
}

.choseUs-cards .card .cardImg {
    border: dashed 2px white;
    background-color: transparent;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choseUs-cards .card img {
    width: 160px;
    height: 160px;
    max-width: 160px;
    border-radius: 50%;
}

.choseUs-cards .cRed {
    background-color: rgb(255, 102, 102);
    border-bottom: solid 10px rgb(245, 60, 60);
}

.choseUs-cards .cYellow {
    background-color: rgb(255, 192, 0);
    border-bottom: solid 10px rgb(221, 167, 2);
}

.choseUs-cards .cGreen {
    background-color: rgb(171, 205, 82);
    border-bottom: solid 10px rgb(147, 180, 61);
}

.choseUs-cards .cBlue {
    background-color: rgb(26, 185, 255);
    border-bottom: solid 10px rgb(3, 145, 208);
}

.choseUs-signUp {
    padding: 0 1.9em 1.24em;
    text-align: left;
}

.choseUs-signUp span {
    padding: 0;
    color: rgb(255, 72, 128);
}

.choseUs-signUp h2 {
    color: rgb(39, 19, 68);
    margin-top: 2em;
}

.choseUs-signUp p {
    font-weight: 500;
    color: rgb(148, 147, 147);
    margin-bottom: 2em;
}


/*====================================================================
GUIDE
===================================================================*/

.guide {
    background-color: rgb(252, 249, 244);
    padding: 1em 1.24em;
    color: rgb(148, 147, 147);
}

.guide img {
    width: 100%;
}

.guide h2 {
    color: rgb(39, 19, 68);
    font-size: 1.8rem;
}

.guide span {
    color: rgb(97, 102, 107);
    font-weight: 500;
}

.guide .guide-secondP {
    padding: 0 .4em;
}

.guide .guide-secondP p {
    margin-top: 0;
}

.guide .guide-secondP span {
    font-size: .9rem;
    font-weight: 600;
}

.guide .button {
    color: rgb(255, 72, 128);
    border: solid 2px rgb(255, 72, 128);
    background-color: transparent;
    font-weight: 600;
    margin: .5em auto;
}

.guide .button i {
    background-color: rgb(255, 72, 128);
    color: white;
}


/*===========================================================
OUR VALUES
===========================================================*/

.ourValues,
.oV-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ourValues {
    padding: 0 1.24em;
}

.oV-header {
    text-align: center;
    padding-top: 3em;
}

.oV-header span {
    color: rgb(97, 102, 107);
}

.oV-header .subtitle {
    margin: 0;
}

.oV-header .title {
    margin: 2.5em 0 0 0;
}

.oV-header .rocket,
.ourValues .rac {
    margin: 3em 0;
}

.ourValues .ov-img {
    width: 35px;
    height: 35px;
}

.oV-love .ov-img {
    background-color: rgb(226, 85, 85);
}

.ov-trust .ov-img {
    background-color: rgb(64, 239, 129);
}

.ov-development .ov-img {
    background-color: rgb(26, 185, 255);
}

.ov-cautation .ov-img {
    background-color: rgb(255, 192, 0);
}

.ov-connect .ov-img {
    background-color: rgb(235, 213, 156);
}

.oV-love .ov-img,
.ov-trust .ov-img,
.ov-development .ov-img,
.ov-cautation .ov-img,
.ov-connect .ov-img {
    padding: 1.1em;
    border-radius: 50%;
    margin-bottom: 1em;
}

.oV-love,
.ov-trust,
.ov-development,
.ov-cautation,
.ov-connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3em;
}

.gray-text {
    color: rgb(148, 147, 147);
}

.title-color {
    color: rgb(39, 19, 68);
    font-size: 1.5rem;
    font-weight: 700;
}

.ourValues .ov-connect {
    align-items: flex-end;
    width: 134px;
    padding: 0;
    margin-left: auto;
}

.child {
    width: 100%;
    margin: 3em 0;
    min-width: 303px;
}


/*================================================
STUDY
================================================*/

.study {
    background-color: rgb(39, 19, 68);
    color: #fff;
    padding: 3em 1.24em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.study .bee {
    width: 99px;
}

.study h2 {
    font-size: 2.5rem;
}

.study .bear {
    background-color: rgb(255, 239, 239);
}

.study .car {
    background-color: rgb(255, 249, 229);
}

.study .rubic {
    background-color: rgb(238, 245, 220);
}

.study .cubs {
    background-color: rgb(232, 248, 255);
}

.study .tambal {
    background-color: rgb(255, 72, 128);
}

.study .tambal img {
    width: 31px;
    height: 31px;
}

.study .area-uppercontent {
    display: flex;
    flex-direction: row;
}

.study .area-uppercontent span:nth-child(2) {
    padding: 1em;
    width: 100%;
    border-right: none;
    border-left: none;
}

.study .area-uppercontent span:nth-child(3) {
    margin-left: auto;
    border-left: none;
}

.study .area span {
    min-width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: auto;
    font-size: .9rem;
    font-weight: 600;
    border: solid 1px rgb(214, 214, 214);
}

.study .area {
    background-color: white;
    color: black;
}

.study .area1 .bear {
    border-top-left-radius: 1.3em;
}

.study .area1 {
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
}

.study .area1 .plus {
    border-top-right-radius: 1.3em;
    font-size: .9rem;
    border-right: none;
    border-top: none;
    font-weight: 900;
}

.study .area .plus i {
    padding: .4em;
    border-radius: 50%;
    color: white;
}

.study .area1 .plus i {
    background-color: rgb(255, 72, 128);
}

.study .area2 .plus i {
    background-color: rgb(255, 192, 0);
}

.study .area3 .plus i {
    background-color: rgb(171, 205, 82);
}

.study .area4 .plus i {
    background-color: rgb(26, 185, 255);
}

.study .area5 .plus i {
    background-color: rgb(39, 19, 68);
}


/*====================================================================
CLASSES
====================================================================*/

.classes,
.classes-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.classes-header span {
    padding: 0 2.19em;
    text-align: center;
}

.classes {
    padding: 2em 1.24em 0;
}

.pink-text {
    color: rgb(255, 72, 128);
}

.classes .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.6em;
}

.classes .card img {
    width: 100%;
    height: 100%;
    border-radius: 1.5em;
}

.classes .bee {
    margin: 1em 0;
}

.classes .card h3 {
    color: rgb(255, 124, 8);
    font-size: 1rem;
    margin: 1em 0 0 0;
}

.classes .card p {
    margin: 0 0 3em 0;
}

.classes .card hr {
    border-top: solid rgba(255, 123, 8, 0.431) 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-bottom: .5em;
}

.classes .card .fa-baby {
    color: rgb(72, 209, 26);
}

.classes .card a {
    text-decoration: none;
    color: white;
    background-color: rgb(72, 209, 26);
    padding: .5em 1.24em;
    border-top-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    text-shadow: 0 2px 5px rgb(105, 105, 105);
    box-shadow: 0 0 10px rgb(105, 105, 105);
}

.classes .card .gray-spanCard {
    font-weight: 600;
    color: rgb(128, 128, 128);
    font-size: .95rem;
}


/*================================================================
TESTYMONIALS
===============================================================*/

.tastymonials {
    background-color: rgb(252, 249, 244);
    padding: 2em 1.24em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tastymonials .title,
.tastymonials .subtitle {
    padding: 0 1em;
    text-align: center;
    margin: 7px 0;
}

.tastymonials .title {
    font-size: 1.1rem;
}

.tastymonials .subtitle {
    font-size: 1.8rem;
}

.tastymonials span {
    text-align: center;
}

.tastymonials .bee {
    margin: 1em 0 4em 0;
}

.tastymonials .swipe-container {
    display: flex;
    flex-direction: row;
    width: 300px;
    overflow: scroll;
}

.tastymonials .swipe-container .sw-card {
    min-width: 260px;
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2em 0 2em 1em;
}

.tastymonials .swipe-container .sw-card img {
    width: 65px;
    height: 65px;
    border: solid 2px rgb(255, 72, 128);
    border-radius: 50%;
    margin-bottom: 1.7em;
}

.tastymonials .swipe-container .sw-card span {
    text-align: left;
}

.tastymonials .swipe-container .sw-card .t-stars {
    color: rgb(255, 192, 0);
    margin: .5em 0;
}

.tastymonials .swipe-container .sw-card span {
    color: rgb(39, 19, 68);
    font-weight: 800;
}

.tastymonials .swipe-container::-webkit-scrollbar {
    display: none;
}